<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- ====================nav-left-site==================== -->
            <a class="navbar-brand" href="#">Scientific Activity</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ====================nav-middle-site==================== -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}">Employees</a>
                    </li>
                </ul>

                <!-- ====================nav-right-site==================== -->
                <ul class="navbar-nav  my-2 my-lg-0">


                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
                </ul>
            </div>
        </div>
    </nav>

</div>

</html>