<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Navigation</title>
</head>

<body>
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- ====================nav-left-site==================== -->
            <a class="navbar-brand" th:text="#{navbar.scientific.activity}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ====================nav-middle-site==================== -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/myPage}" th:text="#{navbar.my.page}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}" th:text="#{navbar.employees}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publications}" th:text="#{navbar.publications}"></a>
                    </li>
                </ul>

                <!-- ====================nav-right-site==================== -->
                <ul class="navbar-nav  my-2 my-lg-0">

                    <li class="nav-item dropdown">
                        <select class="selectpicker" data-width="fit" id="locales">
                            <option th:text="#{lang.change}"></option>
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="ru" th:text="#{lang.ru}"></option>
                        </select>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

</div>

</body>

</html>