<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Hello, world!</title>
</head>

<body>
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- ====================nav-left-site==================== -->
            <a class="navbar-brand" href="#">Scientific Activity</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ====================nav-middle-site==================== -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publications}">Publications</a>
                    </li>
                </ul>

                <!-- ====================nav-right-site==================== -->
                <ul class="navbar-nav  my-2 my-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/myPage}">My Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
</body>

</html>