<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<h1>New employee</h1>
<div class="col-md-4">
    <form th:object="${employee}" th:action="@{save}" action="#" method="post">
        <input type="text" th:field="*{surname}" class="form-control"
               placeholder="Surname"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="text" th:field="*{name}" class="form-control"
               placeholder="Name"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="text" th:field="*{patronymic}" class="form-control"
               placeholder="Patronymic"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="text" th:field="*{dateOfBirth}" class="form-control"
               placeholder="Date of birth"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <div class="col-md-6">
            <select class="form-control" name="departmentId">
                <option th:each="department : ${departments}"
                        th:value="${department.departmentId}"
                        th:text="${department.departmentName}">Department</option>
            </select>
        </div>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="text" th:field="*{position}" class="form-control"
               placeholder="Position"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="text" th:field="*{degree}" class="form-control"
               placeholder="Degree"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="text" th:field="*{academicRank}" class="form-control"
               placeholder="Academic rank"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="submit" class="btn btn-success" value="Save"></input>
    </form>
</div>

</body>
</html>