<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div style="clear: both; display: block; height: 10px;"></div>

<div class="container">
    <form class="needs-validation" novalidate action="#"
          th:action="@{'/employees/'+${employeeId}+'/publications/monographs/'+${monographId}}"
          th:object="${monograph}"
          method="post">

        <div class="form-group" th:with="hasErr=${#fields.hasErrors('title')}">
            <input type="text" th:field="*{title}" class="form-control" th:classappend="${hasErr} ? is-invalid : ''"
                   placeholder="Title"/>
            <label th:if="${hasErr}" th:errors="*{title}"
                   class="invalid-feedback"></label>
        </div>

        <div class="form-group" th:with="hasErr=${#fields.hasErrors('publisher')}">
            <input type="text" th:field="*{publisher}" class="form-control" th:classappend="${hasErr} ? is-invalid : ''"
                   placeholder="Publisher"/>
            <label th:if="${hasErr}" th:errors="*{publisher}"
                   class="invalid-feedback"></label>
        </div>

        <div class="form-group">
            <select class="form-control selectpicker" aria-describedby="monographTypeHelp" th:field="*{monographType}"
                    name="monographType">
                <option th:each="monographType : ${T(by.it.academy.scientificactivity.model.MonographType).values()}"
                        th:value="${monographType}"
                        th:text="#{${monographType.propName}}">Monograph Type
                </option>
            </select>
            <small id="monographTypeHelp" class="form-text text-muted">Please choose monograph type</small>
        </div>

        <div class="form-group" th:with="hasErr=${#fields.hasErrors('printRun')}">
            <input type="text" th:field="*{printRun}" class="form-control" th:classappend="${hasErr} ? is-invalid : ''"
                   placeholder="Print run"/>
            <label th:if="${hasErr}" th:errors="*{printRun}"
                   class="invalid-feedback"></label>
        </div>

        <div class="form-group" th:with="hasErr=${#fields.hasErrors('numberOfPages')}">
            <input type="text" th:field="*{numberOfPages}" class="form-control"
                   th:classappend="${hasErr} ? is-invalid : ''"
                   placeholder="Number of Pages"/>
            <label th:if="${hasErr}" th:errors="*{numberOfPages}"
                   class="invalid-feedback"></label>
        </div>

        <div class="form-group">
            <select class="form-control selectpicker" aria-describedby="authorsHelp" th:field="*{authors}" id="authors"
                    multiple>

                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.surname} + ' ' + ${employee.name.charAt(0)} + '.' + ${employee.patronymic.charAt(0)+ '.'}">
                    employee
                </option>

            </select>
            <small id="authorsHelp" class="form-text text-muted">Please select authors</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script>

</body>
</html>